.adds {
    background-color:#FF7F50;
    border-radius: 1rem;
    padding: 0 2rem;
    display: flex;
    gap: 4rem;
}
.adds__text {
    flex: 1;
    display: grid;
    gap: 1rem;
    padding: 2rem 2rem;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 18px;
}
.adds a:hover {
color: #D2691E;
font-weight: bold;
}
.adds__img {
    flex: 1;
    background-size: contain;
    background-position: calc(100% - 3rem) center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}


@media screen and (min-width: 1064px) {
    .adds__img {
        background-position: center;
        opacity: 1;
        position: static;
        width: 200px;
        height: 200px;
    }
}