.product__title {
    margin-bottom: 1rem;
}

.product__tags {
    display: flex;
    gap: 1rem;
}

.product__tag {
    border: 1px solid #FF7F50;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #FF7F50;
}

.product__tag:hover {
    opacity: 1;
}

.product__img {
    width: 60%;
}

.product__info {
    display: grid;
    gap: 2rem;
    align-content: flex-start;
}

.product__price {
    font-size: 6rem;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    width: max-content;
}

.product__rate {
    display: flex;
    gap: 2rem;
}

.product__rate>* {
    display: flex;
    align-items: center;
}

.product__heart {
    cursor: pointer;
}

.product__table {
    width: max-content;
}

.product__table th {
    text-align: left;
    padding-right: 2rem;
    font-weight: normal;
    color: grey;
}

.btn_close {    
    float:right;
    display:block;
    background-color: silver;
    border: 1px solid #FF7F50;
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.btn_close:hover{
    background-color: #FF7F50;
}
.product__reviews-text {
    position: fixed;
    background-color: #fff9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(1px) grayscale(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}



.reviews textarea {
    height: 200px;
    width: 300px;
    font-size: 2rem;
    resize: none;
}

.modal-link {
    background-color: silver;
    border: 1px solid silver;
    border-radius: 1rem;
    padding: 1rem;
    font-size: inherit;
    border: 1px solid #FF7F50;
}

.modal-link:hover {
    background-color: #FF7F50;
}

.form__btn:disabled {
    cursor: pointer;
}


.product__btns {
    display: flex;
    align-items: center;
    /*gap: 1rem;
    background-color:#FF7F50;*/

}

.product__btn {
    flex: 1;
    border: 1px solid #FF7F50;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    max-width: 30rem;

}

.product__btn:hover {
    background-color: #FF7F50;
    opacity: 1;
}

.product__btn:disabled {
    cursor: default;
}

.product__btn:disabled:hover {
    background-color: transparent;
}

.product__btn_square {
    max-width: calc(3rem * 1.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 7px;
    margin: 7px;
}

@media screen and (min-width: 1064px) {
    .product__description {
        grid-column-end: span 2;
    }

    .product__review {
        grid-column-end: span 2;
    }
}