.banner {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    max-height: 600vh;
    display: grid;
    align-content: flex-start;
}

.banner__caption {
    font-size: 4rem;
    font-family: Arial Narrow, sans-serif;
    color: white;
}
.banner__text {
    font-size: 2rem;
    font-family: Arial Narrow, sans-serif;
    color: white;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c0c080;
    opacity: 0.6;
}

@media screen and (min-width: 1064px) {
    .banner__caption {
        font-size: 5rem;
        padding-top: 25px;
        font-family: Arial Narrow, sans-serif;
        color: white;
    }
    .banner__text {
        font-size: 3rem;
        font-family: Arial Narrow, sans-serif;
        color: white;
        
    }
}